::-webkit-scrollbar
{
  width:10px;
  background:var(--bg);
}
::-webkit-scrollbar-thumb
{
  background: var(--border);
}
::-webkit-scrollbar-thumb:hover
{
  background: var(--primary);
}
html 
{
  box-sizing: inherit;
  font-size: 62.5%;
  scroll-behavior:smooth;
}
body
{
  display:flex;
  height:100vh;
  margin-left:70px;
  justify-content:left;
  align-items:center;
  background-size:cover;
  background: var(--bg);
  color: var(--text-secondary);
}
#bar
{
  display:inline;
  justify-content:space-around;
  margin-left:10px;
  left:0;
  width:60px;
  height:260px;
  vertical-align: middle;
  position:fixed;
}
#bar .pages
{
  width:24px;
  height:24px;
  margin-top:40%;
  margin-left: 30%;
  z-index:1;
  transition:0.4s;
  stroke:var(--text-primary);
}
#bar .pages:hover
{
  width:26px;
  height:26px;
  margin-top:37%;
} 
#bar .links
{
  padding-top:100px;
  margin-left: 30%;
  z-index:1;
  transition:0.4s;
  fill:var(--text-primary);
}
#bar .links .l
{
  width:24px;
  height:24px;
  transition:0.4s;
  fill:var(--text-secondary);
  margin-top:40%;
}
#bar .links .l:hover
{
  width:26px;
  height:26px;
  margin-top:36%;
}
#bar i:hover
{
  width:13%;
  height:110%;
}
:root {
  --dark-bg: #101214;
  --dark-border: #22272B;
  --dark-surface: #161A1D;
  --dark-text-primary: #DEE4EA;
  --dark-text-secondary: #738496;
  --dark-primary: #1D7AFC;
  --dark-text-inverse: #FFFFFF;
  --sunset-bg: #151c19;
  --sunset-border: #424f4a;
  --sunset-surface: #2f3834;
  --sunset-text-primary: #ecd2c5;
  --sunset-text-secondary: #C0AB92;
  --sunset-primary: #C0AB92;
  --sunset-text-inverse: #151c19;
  --sunrise-bg: #ecd2c5;
  --sunrise-border: #d7c9c6;
  --sunrise-surface: #f3e8e5;
  --sunrise-text-primary: #4f2733;
  --sunrise-text-secondary: #685844;
  --sunrise-primary: #a04d66;
  --sunrise-text-inverse: #f3e8e5;
  --light-bg: #F7F8F9;
  --light-border: #F1F2F4;
  --light-surface: #FFFFFF;
  --light-text-primary: #091E42;
  --light-text-secondary: #626F86;
  --light-primary: #1D7AFC;
  --light-text-inverse: #FFFFFF;
  --bg: var(--dark-bg);
  --border: var(--dark-border);
  --surface: var(--dark-surface);
  --text-primary: var(--dark-text-primary);
  --text-secondary: var(--dark-text-secondary);
  --primary: var(--dark-primary);
  --text-inverse: var(--dark-text-inverse);
}
*, *:before, *:after {
  box-sizing: border-box;
}

.c-button:hover, .c-button:focus {
  outline: none;
  transform: scale(1.03);
}

#bar .c-theme {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  overflow:hidden;
  display: inline;
  background: transparent;
  color: var(--text-primary);
  border: 1px solid transparent;
  border-radius: 0.8rem;
  padding:0.4rem;
  transition: all 120ms ease-out;
}

#bar .c-theme:after {
  top: 0;
  left: 0;
  right: 0;
  height: 0.8rem;
  background: linear-gradient(to bottom, var(--surface), transparent);
}
#bar .c-theme:before {
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.8rem;
  background: linear-gradient(to top, var(--surface), transparent);
}
#bar .c-theme:focus {
  outline: none;
}
#bar .c-theme__grid {
  position: relative;
  width: 3.2rem;
  transition: all 240ms ease-out;
}
#bar .c-theme svg:focus {
  outline: none;
}


.c-box:hover, .c-box:focus {
  transform: scale(1.03);
}
.c-box--active {
  outline: 4px solid var(--primary);
}
.c-box--active:after {
  content: "✓";
  position: absolute;
  top: -1.2rem;
  right: -1.2rem;
  height: 2.4rem;
  width: 2.4rem;
  background: var(--primary);
  border-radius: 999px;
  color: var(--text-inverse);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.c-card {
  width: 100%;
  max-width: 650px;
  border: 1px solid var(--border);
  border-radius: 1.6rem;
  padding: 3.2rem;
  background: var(--surface);
  position: relative;
  box-shadow: 0.3px 0.5px 0.7px rgba(0, 0, 0, 0.08), 0.8px 1.6px 2px -0.8px rgba(0, 0, 0, 0.08), 2.1px 4.1px 5.2px -1.7px rgba(0, 0, 0, 0.08), 5px 10px 12.6px -2.5px rgba(0, 0, 0, 0.08);
}
.c-card__title {
  margin: 0 0 0.8rem;
  padding: 0;
  line-height: 1.2;
  font-size: 4rem;
  color: var(--text-primary);
}
.c-card__description {
  margin: 0;
  padding: 0;
  line-height: 150%;
  font-size: 2rem;
  color: var(--text-secondary);
}

.c-button {
  display: inline-flex;
  padding: 1.2rem 2rem;
  background: var(--primary);
  border-radius: 0.8rem;
  line-height: 1;
  cursor: pointer;
  color: var(--text-inverse);
  font-weight: 700;
  user-select: none;
  position: relative;
  transition: all 120ms ease-out;
}
.c-button:hover, .c-button:focus {
  outline: none;
  transform: scale(1.03);
}

.main
{
    height:100%;
    width:100%;
    font: 400 15px/1.8 "Lato", sans-serif;
}
.Home,.About,.Projects,.Skills
{ 
  position:relative;
  background-attachment:fixed;
  background-position:repeat;
  background-repeat:no-repeat;
  background-size:cover;
}
.Home
{
    min-height:775px;
}
.About
{
    min-height:700px;
}
.Projects
{
    min-height:700px;
}
.Skills
{
    min-height:700px;
}
.box
{
  top:-10%;
  position:absolute;
  width:100%;
  text-align:center;
}
.caption
{
    position:absolute;
    left:0;
    top:50%;
    width:100%;
    text-align:center;
}
.f-in
{
  animation: fadeIn 5s;
}
@keyframes fadeIn
{
  0%
  {
    opacity:0;
  }
  100%
  {
    opacity:1;
  }
}
h1
{
    margin-top:-10%;
    letter-spacing:5px;
    text-transform:uppercase;
    font:75px "Lato",sans-serif;
    color:var(--text-primary);
}
h2
{
    padding:100px;
    letter-spacing:5px;
    text-transform:uppercase;
    font:"Lato",sans-serif;
    color:var(--text-primary);
}
p
{
  
  margin-top:-60px;
  letter-spacing:5px;
  font-size:20px;
  color:var(--text-secondary);
}
.download
{
    cursor:pointer;
    border:none;
    padding:10px 30px 10px 30px;
    background:var(--text-primary);
    border:none;
    color:var(--border);
}
.download:hover
{
  background:none;
  color:var(--text-secondary);
}
.contact
{
    cursor:pointer;
    border:none;
    padding:10px 30px 10px 30px;
    background:none;
    border:none;
    color:var(--text-secondary);
}
.contact:hover
{
  background:var(--text-primary);
  color:var(--border);
}
@media only screen and (max-device-width: 1024px)
{
    .Home,.About,.Projects,.Contact
    {
        background-attachment:scroll;
    }
}
.Skills
{
  display: grid;
  grid-template-columns: repeat(3,2fr);
  grid-row-gap:30px;
}
.Skills .icons
{
  margin-top:120px;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items:center;
  text-align: center;
}
.icons img
{
  width:100px;
  height:100px;
  margin-bottom: 70px;
}
.Projects
{
  display:flex;
  justify-content: center;
  align-items:center;
}
.Projects::before
{
  content:"";   
  opacity:0.3;
}
a h1
{
  font-size:2rem;
  text-transform:uppercase;
  letter-spacing:0.5px;
}
a p
{
  line-height:28px;
  letter-spacing:0.5px;
}
a
{
  color:#f3f3f3;
}
.card
{
    width:260px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.32);
    cursor:pointer;
    position:relative;
    transform-origin:center;
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-right:10px;
    margin-left:10px;
}
.card:hover
{
  transform:scale(1.05);
}
.card .content
{
    padding:40px 24px 48px 24px;
    position:relative;
}
.card .content h1, .card .content p
{
    transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.card .content h1.inf0,.card .content p.info 
{
  margin: 16px 0 0 0;
}
.card
{
    height:400px;
    background:#161616;
    overflow:hidden;
}
.card .content
{
    position:absolute;
    z-index:1;
    bottom:40px;
    padding:0 24px;
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card:hover .content
{
    bottom:56px;
}
.card .image
{
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
}
.card .image img
{
    height:480px;
    width:auto;
}
.card .image:before
{
    content:"";
    width:100%;
    height:100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--bg));
    position:absolute;
}
.info .libs
{
  fill:var(--text-primary)
}
@media only screen and (max-device-width: 800px)
{
  body
  {
    background:blue;
  }
}